@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Magic</h1>
    <p class="lead">MVC is fun...</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This is who logged in:</h2>
        <p>
            find the stuff to put here. first name last name dob and email
        </p>
    </div>
</div>